div {
    padding-top : 10px;
    padding-bottom : 10px;
}

span {
    margin : 5px;
}

#grey {
    background-color : grey;
}

#yellow {
    background-color : yellow;
}

#white {
    background-color : white;
}

#green {
    background-color : green;
}

.button {
    padding : 20px 30px;
    border : 2px solid black;
}

